.card:hover {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}

.bi,
.bi-check-circle-fill {
  color: rgb(11, 93, 70);
  visibility: hidden;
}
