.bottom_fixed {
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
}

.fadeout {
    animation: fadeOut ease 5s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 5s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}